body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #ffe6df;
}   

.logo{
    width: 100px;
    height: 75px;
}

.tituloprincipal{
    font-family: 'Bebas Neue', cursive;
    font-size: 1.8em;
    letter-spacing: 1.6px;
    color: white;
}
.menu_lista{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.5em;
    padding: 1rem;
    background-color: #DF99F8;
    margin: auto;
    height: 50px;
    align-items: center;

    position: sticky;
    top: 0;

    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.menu_lista li a{
    text-decoration: none;
    color: black;
    padding: 20px;
    display: block;
}

.menu_lista li{
    display: inline-block;
    text-align: center;
}

.menu_lista li a:hover{
    background: #f3b1a2;
}

.imagen_gatitos{
    height: 40%;
    width: 40%;
    margin: auto;
    display: block;
    border-radius: 10px;
    margin-top:2%;
    padding: 1%;
    border-color: black;
    border-style: solid;
    border-width: 2px;
}

.titulo-secundario {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: rgba(0, 0, 0, 0.875);
    letter-spacing:2.5px;
    font-size: 1.6em;
    padding: 1rem;
    background-color: #FFD583;
    margin: auto;
    height: 10px;
    align-items: center;
    position: sticky;
    width: 100%;
    display:flex;
    justify-content: center;
}

.tercer-titulo-razones{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: rgba(0, 0, 0, 0.875);
    font-size: 2em;
    letter-spacing:2.5px;
    background-color:#FFD3F0;
    padding: 28px;
    margin-left: auto;
    height: fit-content;
   /* width: 90%; */
    display:flex;
    justify-content:right;
    width: fit-content;
}

.imagen_gatitoadoptante{
    
    width:350px; /*ancho*/
    height:auto;
    border-radius: 50%;
    border-color:#dc9ffa;
    border-width: 5px;
    border-style: solid;
    float:left;
    margin-left: 15%;
}

.listado_razones{
    font-size: 1em;  
    line-height: 1.9em;
    background-color: #dc9ffa;
    width:fit-content;
    height:fit-content;
    padding:2.5%;
    list-style-position: inside;
    text-align: right;
    list-style-type:circle;
    margin-left:58%;

}

footer{
    background:#E6EE9C;
}

footer h4{
    width: 100%;
    padding: 1%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: rgba(0, 0, 0, 0.875);
    font-size: 2em;
    letter-spacing:2.5px;
    text-align: center;
}

footer img{
    width: 20px;
    height: 20px;
}

footer ul{
    
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer-ultimo{
    text-align: center;
}

.h2_requisitos{
    background-color: #f6cd7b;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: rgba(0, 0, 0, 0.875);
    font-size: 1.6em;
    letter-spacing:2.5px;
    padding: 10px;
    margin-right:auto;
    height:min-content;
    width:15%;
    display:flex;
    justify-content: center;
}

.listado_requisitos{
    font-family:'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 1.8px;
    font-size: 1.5em;  
    line-height: 1.9em;
    background-color: #febaab;
    width:fit-content;
    height:fit-content;
    padding:2%;
    list-style-position: inside;
    text-align: center;
    margin-left:25%;
}


#formulario{
    padding:1%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgb(129, 129, 247);

}
section h6{
    font-family:'Yanone Kaffeesatz', sans-serif;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    padding:auto;
}

section form{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;

    width:80%;
    padding:1rem;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.campo{
    display: flex;
    flex-direction: column;

    width: 12rem;
    margin: 0.5rem 0.5rem;
}

.campo label{
    font-size: 0.9rem;
    margin-bottom: 0.2px;
}

.campo input{
    font-size: 1.1rem;
    height: 2rem;
    padding-left: 0.4rem;

     border:1px solid;
     border-radius: 2.5px;
}

.opciones{
    justify-content: space-around;
    width: 20rem;
    margin: 0.75rem 0;
}

.opciones label{
    font-size: 0.9rem;
    margin-bottom: 0.2px;
}

.opciones div{
    display:flex;
    justify-content: flex-start;
    padding-left: 0.2rem;
}

.opciones div input{
    cursor: pointer;
}

.enviar{
    padding: 0.5rem 1rem;
    border: 2px solid black;
}

.enviar button{
    font-size: 2.3rem;
}

.galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    height: 80vh;
   
}

.galeria_card{
    width: 100px;
    display: flex;
    flex-direction:column;
    align-items: center;
    border-radius: 5px;
    
}

.galeria_card img{
    width: 255%;
    height: 250px;
    border: 1px solid;
}

.galeria_card_texto{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 2rem;  
    line-height: 1.9em;
}

.galeria_card p{
    background-color: #b0b4ff57;
    width: 100%;
    text-align: center;

}

.subtitulo{
    background-color: #fd858b;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: rgba(0, 0, 0, 0.875);
    letter-spacing:2.5px;
    font-size: 1.6em;
    padding: 1rem;

    height: 10px;
    align-items: center;
    position: sticky;
    width: 100%;
    display: flex;
    justify-content: center;

}

.galeria_rescatista img{
    width: 100%;
    height: 250px;
    width: auto;
    border: 1px solid;

}

.galeria_rescatista p{
    
        background-color: #f7b0ffc5;
        width: 75%;
        text-align: center;
}

.mapa{
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto_rescatista{
    font-size: 100;
    text-align: center;
    justify-content: center;
    margin:0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
}


.container_rescatista{
    display: flex;
    justify-content: center;
    width: 500px;
    height: 500px;
    box-sizing: border-box;
    
}
.container_rescatista img{
    width: 250px;
    height: 250px;
}

.titulo_ley{
    color: #008f6d;
    text-align: center;
    justify-content: center;
    text-decoration: underline;

}

.container{
    width: 100%;
    max-width: 1000px;
    margin:auto;
    justify-content: center;
}



.resaltar{

    margin-left: 30%;
    margin-right: 25%;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}

.listado_denuncia{
    font-size: 1em;  
    line-height: 1.9em;
    background-color: #f9d0fc;
    width:fit-content;
    height:fit-content;
    padding:2%;
    list-style-position: inside;
    text-align: center;
    margin-left:10%;
}

.boton-menu{
    
}

